<?xml version="1.0" encoding="UTF-8" ?>
<!--
 *************************************************************************
 * The contents of this file are subject to the Openbravo Public License
 * Version 1.1 (the "License"), being the Mozilla Public License
 * version 1.1  with a permitted attribution clause ; you may not use
 * this file except in compliance with the License.
 * You may obtain a copy of the License at
 * http://www.openbravo.com/legal/license.txt
 * Software distributed under the License is distributed on an
 * "AS IS" basis, WITHOUT WARRANTY OF  ANY KIND, either express or
 * implied. See the License for the specific language governing rights
 * and  limitations under the License.
 * The Original Code is Openbravo ERP.
 * The Initial Developer of the Original Code is Openbravo SLU
 * All portions are Copyright (C) 2010 Openbravo SLU
 * All Rights Reserved.
 * Contributor(s): Openbravo S.L.U.
 ************************************************************************
-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <!--<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
        <property name="hbm2ddl.auto">validate</property>

        <property name="connection.url">jdbc:mysql://heder-kosher.mysql:3306/heder-kosher</property>
        <property name="hibernate.connection.username">hk_user</property>
        <property name="hibernate.connection.password">hk_user</property>

        <!--<property name="hibernate.connection.url">$url</property>-->
        <!--<property name="hibernate.connection.username">$username</property>-->
        <!--<property name="hibernate.connection.password">$password</property>-->


    </session-factory>
</hibernate-configuration>